name: Composer validation, linting and unit test execution
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      mysql:
        image: mysql:5.7

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Lint PHP files
      run: composer run-script lint

    - name: Run test suite
      run: composer run-script test
